// Colors
$color-primaryLight: #82f4ff;
$color-primary: #1e90ff;
$color-primaryDark: #3742fa;

$color-secondaryLightest: #ffcdcd;
$color-secondaryLighter: #ffb5b5;
$color-secondaryLight: #ff9292;
$color-secondary: #E12525;
$color-secondaryDark: #B51010;

$color-neutralDarker: #7f8c8d;
$color-neutralDark: #bdc3c7;
$color-neutral: #d7d9da;
$color-neutralLight: #dddee1;
$color-neutralLighter: #e5e8ed;
$color-neutralLightest: #f4f8ff;

$color-surface: #fff;
$color-text: #000;

// Fonts
$font-montserrat: 'Montserrat Alternates', sans-serif;
$font-firaSans: 'Fira Sans Condensed', sans-serif; 
